<li class="restaurant-item">
  <article>
    <h2>Restaurant Title</h2>
    <div class="restaurant-meta">
      <p><%= restaurant.name %></p>
      <p><%= restaurant.address %></p>
    </div>
    <p><%= restaurant.description %></p>
    <div class="restaurant-actions">
      <a href="/restaurants/<%= restaurant.id %>">View Restaurant</a>
    </div>
  </article>
</li>